.App {
  margin-left: 150px;
}
.item {
  display: flex;
  flex-direction: row;
}
p{
  padding: 16px;
  font-weight: bold;
}
.middle{
  padding-left: 60px;
  width: 200px;
}
.loading{
  margin-left: 200px;
  font-weight: bold;
  font-size: 40px;
}
